USE [master]
GO
/****** Object:  Database [PRO1041_IT17316_N5]    Script Date: 14/11/2022 10:10:31 CH ******/
CREATE DATABASE [PRO1041_IT17316_N5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRO1041_IT17316_N5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRO1041_IT17316_N5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRO1041_IT17316_N5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRO1041_IT17316_N5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRO1041_IT17316_N5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRO1041_IT17316_N5]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MaCL] [varchar](7) NOT NULL,
	[TenCL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[MaCL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDDH] [varchar](7) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[MaNV] [varchar](7) NOT NULL,
	[MaNCC] [varchar](7) NOT NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](7) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MaNV] [varchar](7) NOT NULL,
	[MaKH] [varchar](7) NOT NULL,
	[MaKM] [varchar](7) NOT NULL,
	[MaHDCT] [varchar](7) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[MaHDCT] [varchar](7) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[MaMH] [varchar](7) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_HoaDonChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](7) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [varchar](7) NOT NULL,
	[MucKM] [float] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoai] [varchar](7) NOT NULL,
	[MaNCC] [varchar](7) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[MaLuong] [varchar](7) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_Luong] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MaMH] [varchar](7) NOT NULL,
	[TenMH] [nvarchar](120) NOT NULL,
	[MaLoai] [varchar](7) NOT NULL,
	[MaCL] [varchar](7) NOT NULL,
	[Size] [varchar](5) NOT NULL,
	[DonGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Mota] [nvarchar](255) NULL,
	[DanhGia] [nvarchar](100) NULL,
 CONSTRAINT [PK_MatHang] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](7) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14/11/2022 10:10:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](7) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[MaLuong] [varchar](7) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatLieu] ([MaCL], [TenCL]) VALUES (N'CL1', N'ChatLieu A')
INSERT [dbo].[ChatLieu] ([MaCL], [TenCL]) VALUES (N'CL2', N'ChatLieu B')
INSERT [dbo].[ChatLieu] ([MaCL], [TenCL]) VALUES (N'CL3', N'ChatLieuC')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThai], [MaNV], [MaKH], [MaKM], [MaHDCT]) VALUES (N'HD01', CAST(N'2020-10-19' AS Date), N'Da Thanh Toan', N'NV01', N'KH02', N'KM01', N'HDCT06')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThai], [MaNV], [MaKH], [MaKM], [MaHDCT]) VALUES (N'HD02', CAST(N'2020-10-23' AS Date), N'Cho Thanh Toan', N'NV02', N'KH05', N'KM50', N'HDCT01')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThai], [MaNV], [MaKH], [MaKM], [MaHDCT]) VALUES (N'HD03', CAST(N'2020-10-29' AS Date), N'Da Thanh Toan', N'NV03', N'KH01', N'KM100', N'HDCT05')
GO
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [NgayTao], [MaMH], [SoLuong], [DonGia]) VALUES (N'HDCT01', CAST(N'2020-10-19' AS Date), N'MH01', 1, 699000)
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [NgayTao], [MaMH], [SoLuong], [DonGia]) VALUES (N'HDCT02', CAST(N'2020-10-23' AS Date), N'MH02', 2, 438000)
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [NgayTao], [MaMH], [SoLuong], [DonGia]) VALUES (N'HDCT03', CAST(N'2020-10-29' AS Date), N'MH05', 1, 289000)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH01', N'Duong Toan', N'An Thi, Hung Yen', N'0372732721')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH02', N'Thi Huong', N'Thu Duc, Ha Noi', N'0498731213')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'KH03', N'Trieu Van', N'Dong Da, Ha Noi', N'0989752175')
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [MucKM]) VALUES (N'KM01', 0)
INSERT [dbo].[KhuyenMai] ([MaKM], [MucKM]) VALUES (N'KM10', 10000)
INSERT [dbo].[KhuyenMai] ([MaKM], [MucKM]) VALUES (N'KM100', 100000)
GO
INSERT [dbo].[LoaiHang] ([MaLoai], [MaNCC], [TenLoai]) VALUES (N'LH01', N'NCC1', N'Set')
INSERT [dbo].[LoaiHang] ([MaLoai], [MaNCC], [TenLoai]) VALUES (N'LH02', N'NCC2', N'Ao')
INSERT [dbo].[LoaiHang] ([MaLoai], [MaNCC], [TenLoai]) VALUES (N'LH03', N'NCC3', N'Quan')
GO
INSERT [dbo].[Luong] ([MaLuong], [SoLuong]) VALUES (N'L01', 3500000)
INSERT [dbo].[Luong] ([MaLuong], [SoLuong]) VALUES (N'L02', 4200000)
INSERT [dbo].[Luong] ([MaLuong], [SoLuong]) VALUES (N'L03', 1900000)
GO
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [MaLoai], [MaCL], [Size], [DonGia], [SoLuong], [Mota], [DanhGia]) VALUES (N'MH01', N'Set Vest Caro', N'LH01', N'CL2', N'M', 699000, 10, N'Set Vest Caro Hang LoaiA', N'5')
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [MaLoai], [MaCL], [Size], [DonGia], [SoLuong], [Mota], [DanhGia]) VALUES (N'MH02', N'Quan Kaki Cong So', N'LH03', N'CL1', N'S', 219000, 15, N'Quan Kaki Cong So Size S', N'4,5')
INSERT [dbo].[MatHang] ([MaMH], [TenMH], [MaLoai], [MaCL], [Size], [DonGia], [SoLuong], [Mota], [DanhGia]) VALUES (N'MH03', N'Quan Thun Cong So Co Tui', N'LH03', N'CL2', N'M', 189000, 13, N'Quan Thun Cong So Co Tui size M', N'5')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [DiaChi], [SDT]) VALUES (N'NCC1', N'Hoang Kha', N'Trinh Van Bo, Ha Noi', N'0372572571')
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [DiaChi], [SDT]) VALUES (N'NCC2', N'Thuy Cam', N'Gia Lam, Ha Noi', N'0979852551')
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [DiaChi], [SDT]) VALUES (N'NCC3', N'Dinh Vuong', N'Xuan Thuy, Ha Noi', N'0969522321')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [NgaySinh], [MaLuong]) VALUES (N'NV01', N'Minh Hang', N'0372582581', CAST(N'2001-09-19' AS Date), N'L02')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [NgaySinh], [MaLuong]) VALUES (N'NV02', N'Hoang Tuan', N'0979550970', CAST(N'1999-12-18' AS Date), N'L01')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [NgaySinh], [MaLuong]) VALUES (N'NV03', N'Kha Nam', N'0873212551', CAST(N'2002-05-21' AS Date), N'L03')
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhaCungCap]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HoaDonChiTiet] FOREIGN KEY([MaHDCT])
REFERENCES [dbo].[HoaDonChiTiet] ([MaHDCT])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HoaDonChiTiet]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[LoaiHang]  WITH CHECK ADD  CONSTRAINT [FK_LoaiHang_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[LoaiHang] CHECK CONSTRAINT [FK_LoaiHang_NhaCungCap]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_ChatLieu] FOREIGN KEY([MaCL])
REFERENCES [dbo].[ChatLieu] ([MaCL])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_ChatLieu]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiHang] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHang] ([MaLoai])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiHang]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Luong] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[Luong] ([MaLuong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Luong]
GO
USE [master]
GO
